<h1>Empleados</h1>

<p>
    <div class="container">
        <h3> <a href="/empleados/create"> Crear empleado </a></h3>
        <h1>Lista de Empleados</h1>
        {{#if empleados }}
           <table class="table table-hover">
                <thead>
                   <tr>
                       <th>Nombre</th>
                       <th>Apellido</th>
                       <th>Email</th>
                       <th>Dni</th>
                       <th>Sexo</th>
                   </tr>
                </thead>
                <tbody>
                    {{# each empleados }}
                    <tr>
                        <td> <a href="/empleados/show/{{ _id  }}"> {{ nombre }}  </td>
                        <td> {{ apellido }} </td>
                        <td> {{ email }} </td>
                        <td> {{ dni }} </td>
                        <td> {{ sexo }} </td>
                    </tr>
                    {{/each}}
                </tbody>
           </table>
        {{~^~}}
            <div>Empleados no encontrados</div>
        {{/if}}
    </div>
</p>